<ion-view ng-controller="LoginCtrl" class="login" hide-nav-bar="true">
  <ion-content>
    <div class="row login-container">
      <div class="col login-box">
        <div class="col">
          <label style="font-size:16px;" class="col">Hewlett Packard Enterprise</label>
          <label style="font-size:16px;" class="col">Welcomes you to</label>
          <label style="font-size:24px;" class="col">The Chairman's Club</label>
        </div>
        <div class="col password-box">
          <a href="#/login/tickets">
            <label class="item item-input">
              <input ng-disabled type="password" autocorrect="off" autocapitalize="none" placeholder="Password">
            </label>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
